/* COLOR SCHEME
navbar color-#736F61
leaf logo color- #736939
green color- #707361
mauve color- #8C7365
*/

body {
  		background-image: url(http://subtlepatterns.com/patterns/gray_jean.png);
  		background-repeat:repeat;
}

.container {
	padding: 10px 20px;
}

.logo { float: left;

}


.navbar-header {padding-top: 40px;
				font-size: 1.3em; 
				float: right;

}

a { color: #736F61;

}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #d6d6d6;
  color: #736F61;
}

.nav-pills> li > a:hover{
	background-color: transparent;
}

a:hover,
a:focus {color: #736F61;
  		text-decoration: none;
}

h1	{ margin: 0px;

}

h2	{font-size: 70px;
	padding-top: 225px;
	color: #fff;
	text-shadow: 0 0 15px #000;
	margin: auto;
	text-align: center;
	height: 100%;
}

#feature-text { width: 100%;

}



#feature-image {background-image: url("https://farm2.staticflickr.com/1125/754753208_d8ccab327d_o.jpg"); 
				background-position: 0px 0px;
				background-repeat: no-repeat;
				background-size: cover;
				overflow: visible;
				margin-right: -5.55%;
				margin-left: -5.55%;
				min-height: 540px;
}


footer	{ padding: 10px 20px; 

}

.social {float: right; margin: 0 10px;
}

/**********************************
OFFERINGS
***********************************/

.massages h3 {
	color: #8C7365;
}

.massages p {
	font-size: 1.3em;
}

/**********************************
LINKS
***********************************/

.intake-form {
	float: left;
}

.resources {
	margin-top:5%;
	float: center;
}

.resources a {
	color: black;

}

.resources h3 {
	color: #8C7365;
}

.resources p {
	font-size: 1.3em;
}

.intake-form hr {width: 131%;

}

.resource-links li {
	color: transparent;
	padding: 5px;
}

.resources a:hover,
.resources a:focus {
  	text-decoration: underline;
}


/**********************************
CONTACT
***********************************/
.contact-info a { color: black;

}

.contact-info {
	text-align: center;
}

.phone {
	font-size: 2.0em;
}

.contact-info a:hover {
	color:black;
}

.iframe {
	text-align: center;
}

/**********************************
SIDEBAR
***********************************/

.thumbnail { padding: 2%;
	border: 0px;
}

.panel {border: 0px;

}

.col-lg-9 { width: 70%;
}

.col-lg-3 { width: 30%;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active, 
.dropdown-toggle.btn-primary{ 
								background-color: #736939;
								border-color: #736939;
}

h4 { padding: 1%;
	padding-left: 3%;
}
